.player-top-nav {
    width: 100%;
    height: 70px;
    background: var(--bg-main);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    border-bottom: 2px solid var(--border);
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

/* BELL */
.notif-bell {
    position: relative;
    cursor: pointer;
    font-size: 22px;
    color: var(--accent);
}

.notif-count {
    position: absolute;
    top: -6px;
    right: -10px;
    background: red;
    padding: 2px 6px;
    color: white;
    font-size: 12px;
    border-radius: 50%;
}

/* DROPDOWN */
.notif-dropdown {
    position: absolute;
    top: 70px;
    right: 20px;
    background: var(--bg-main);
    width: 280px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.4);
    padding: 15px;
    display: none;
    z-index: 99;
}

.notif-dropdown.show {
    display: block;
}

.notif-dropdown h4 {
    margin-bottom: 10px;
    color: var(--accent);
}

.notif-dropdown ul {
    list-style: none;
    padding: 0;
    max-height: 250px;
    overflow-y: auto;
}

.notif-dropdown li {
    padding: 8px 5px;
    border-bottom: 1px solid var(--border);
}

.view-all {
    display: block;
    text-align: center;
    margin-top: 10px;
    background: var(--accent);
    color: white;
    padding: 8px;
    border-radius: 6px;
}


.burger-btn, 
.burger-btn i {
    color: #ff6600 !important;
}

.burger-btn:hover,
.burger-btn:hover i {
    color: #cc5200 !important;
}

.logout-btn {
    color: #ff6600 !important;
}

.logout-btn:hover {
    color: #cc5200 !important;
}

.player-panel-title {
    color: #ff6600 !important;  /* GameX Orange */
    font-weight: 700;
}
